

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.left-bar {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

.main-div {
    /* display: flex; */
    height: 100%;
    min-height: 100vh;
    width: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #B6CCDA, #C8DCE5);
    z-index: 2;
}

.nav-menu-icon {
    width: 32px;
}

.social-holder {
    display: flex;
    flex-direction: column;
    color: #a3becf;
    align-items: center;
}

.fb-icon, .tw-icon, .in-icon {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.desktop-nav-bar {
    z-index: 3;
    padding: 1rem 0;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/* .desktop-nav-options {

} */

.desktop-link-holder {
    display: flex;
    flex-direction: row;
    position: relative;
}

.main-logo {
    outline: none;
    background: none;
    border: none;
}

.side-menu {
    z-index: 4;
    width: 40%;
    background-color: white;
    padding: 1rem 0;
}

.side-option-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    max-height: 400px;
    margin-top: 40%;
    padding: 25px 0;
}

.side-menu-options {
    color: #ABC6D6;
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    padding: 16px 0;
}

.side-menu-options:hover {
    background-color: #EFF6FB;
    color: #404354;
    font-weight: 600;
    
}

.side-menu-options-2 {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    padding: 16px 0;
    text-decoration: none;
    color: #404354;
    background-color: #EFF6FB;
    font-weight: 600;
}

.desktop-nav-links {
    display: block;
    color: white;
    /* background-color: cadetblue; */
    padding: 0.5rem 1.25rem;
    border-radius: 9999px;
    font-family: 'Poppins', sans-serif;
    width: max-content;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.desktop-nav-links:hover {
    font-weight: 600;
    color: #a3becf;
    background-color: white;
    padding: 0.5rem 1.25rem;
}

.desktop-nav-links-2 {
    display: block;
    color: #a3becf;
    background-color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 9999px;
    font-family: 'Poppins', sans-serif;
    width: max-content;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

#link-1, #link-2, #link-3, #link-4, #link-5 {
    position: absolute;
}

#link-1 {
    left: 25%;
    top: -45px;
}
#link-2 {
    left: 43%;
    top: -45px;
}
#link-3 {
    left: 65%;
    top: -45px;
}
#link-4 {
    left: 85%;
    top: -45px;
}
#link-5 {
    left: 108%;
    top: -45px;
}

.left-side-nav {
    /* width: max-content; */
    width: 50%;
}

.right-side-nav {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
    margin-top: 8px;
    height: max-content;
}

.right-icons {
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    padding-top: 8px;
}

.main-logo-div {
    max-width: min-content;
    margin-left: 3rem;
    margin-right: 0;
}

#search-bar {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9999px 0 0 9999px;
    width: 270px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 17px;
    height: 33px;
}

.search-active {
    background-color: rgba(255, 255, 255, 0.3);
}

#search-icon {
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#search-icon-btn {
    margin-right: 10px;
    height: 100%;
    border-radius: 0 9999px 9999px 0;
}

#bag-icon {
    border-left: rgba(255, 255, 255, 0.70) 3px solid;
    padding: 0 22px;
    margin-top: 7px;
    padding-top: 3px;
    height: max-content;
}

/* #bag-search-active {
    background-color: yellow;
} */

.nav-holder {
    display: flex;
}

.main-div-content {
    width: 100%;
}

.div-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.holder-1 {
    width: 55%;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 4.5rem 0 0 3.5rem;
}

.head-1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 10px;
    padding-bottom: 0;
    width: 100%;
}

.head-2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    margin-top: 0px;
    width: 100%;
}

.holder-2 {
    width: 45%;
    font-family: 'Poppins', sans-serif;
}


.buy-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    font-size: 24px;
    border-radius: 9999px;
    padding: 1rem 4.3rem;
    color: white;
    font-weight: 500;
}

.holder-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.main-watch {
    max-width: 80%;
}

.color-indicator {
    margin-bottom: 4rem;
}

.holder-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.secondary-watches {
    margin-right: 25px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .side-menu {
        width: 60%;
    }
}

/* Apply for screen smaller than 767 px */
@media screen and (max-width: 768px) {
    .App {
        flex-direction: column-reverse;
    }
    .left-bar {
        width: 100vw;
        height: 81px;
        bottom: 0%;
        flex-direction: row;
        padding-left: 1.5rem;
    }
    .main-div {
        margin-bottom: 80px;
        max-width: 100%;
    }
    .social-holder {
        flex-direction: row;
        margin-right: 1.5rem;
    }
    .fb-icon, .tw-icon, .in-icon {
        margin-right: 1.25rem;
    }
    .side-menu {
        width: 70%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
    }
    .desktop-link-holder {
        display: none;
    }
    .right-side-nav {
        margin-right: 2.2rem;
    }
    #search-bar {
        width: 170px;
    }
    .div-holder {
        flex-direction: column;
    }
    .holder-1 {
        width: calc(100% - 56px);
        margin-left: 0;
        padding-left: 3rem;
    }
    .holder-2 {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .holder-3 {
        width: 100%;
        justify-content: center;
    }
    /* .color-indicator {
        display: none;
    } */
    .head-1 {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 5px;
        padding-bottom: 0;
    }
    .head-2 {
        font-size: 35px;
        line-height: 50px;
        margin-top: 0px;
    }
    .buy-btn {
        font-size: 20px;
        padding: 1rem 2.5rem;
    }
    .holder-4 {
        display: none;
    }
}

/* Apply for screen larger than 768 px */
@media screen and (min-width: 768px) {
    .main-div {
        width: calc(100% - 100px);
        margin-left: 100px;
    }
    .App {
        flex-direction: row;
    }
    .social-holder {
        margin-bottom: 2.5rem;
    }
    .nav-menu-icon {
        margin-top: 2.75rem;
    }
    .fb-icon, .tw-icon, .in-icon {
        margin-bottom: 1.5rem;
    }
    .side-menu {
        display: none;
    }
    .desktop-nav-bar {
        padding: 2.2rem 0;
    }
    .desktop-nav-links:hover {
        font-weight: 600;
        color: #a3becf;
        background-color: white;
        padding: 0.5rem 1.2rem;
    }
    .right-side-nav {
        margin-right: 2rem;
    }
    .main-logo-div {
        margin-left: 2rem;
    }
    #search-bar {
        width: 220px;
    }
    #link-3 {
        display: none;
    }
    #link-4 {
        display: none;
    }
    #link-5 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .holder-4 {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #link-1 {
        left: 28%;
    }
    #link-2 {
        left: 48%;
    }
    #search-bar {
        width: 240px;
    }
    .head-1 {
        font-size: 54px;
        line-height: 75px;
        margin-bottom: 5px;
        padding-bottom: 0;
    }
    .head-2 {
        font-size: 54px;
        line-height: 75px;
        margin-top: 0px;
    }
    .buy-btn {
        font-size: 24px;
        padding: 1rem 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .desktop-nav-links {
        padding: 0.5rem 2rem;
    }
    .desktop-nav-links:hover {
        color: #a3becf;
        padding: 0.5rem 2rem;
    }
    .main-logo-div {
        margin-left: 3.5rem;
    }
    .desktop-nav-links-2 {
        padding: 0.5rem 2rem;
    }
    #search-bar {
        width: 230px;
    }
    #link-3 {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .main-logo-div {
        margin-left: 4.5rem;
    }
    #search-bar {
        width: 270px;
    }
    #link-4 {
        display: block;
    }
    #link-5 {
        display: block;
    }
}





